### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/logs/
/secrets/jwt-key.json
# 运行时通过接口上传的文件存储目录
/files
/deploy-server/files/
