@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #1f75cb,
    ),
  ),
  $border-radius: (
    'base': 6px,
  ),
  $font-size: (
    'base': 15px,
  )
);
